<div class="footer-big text-right"
style="border-top:1px solid #ddd !important; border-bottom:1px solid #ddd !important">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="title">من نحن</p>
            <p class="title-dis">
                الموقع الرئيسي لسيرفر Galaxy Dz Roleplay<br>
                من خلاله بامكانك مشاهدة المتصدرين ومتابعة تقدمك بالسيرفر
            </p>
        </div>
        <div class="col-md-4">
            <p class="title">روابط مهمة</p>
            <ul class="list-unstyled pages">
                <li class="mt-2">
                    <a href="/" style="color:#333 !important">الرئيسية</a>
                </li>
                <li class="mt-2">
                    <a href="/terms" style="color:#333 !important">القوانين</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="title">للاستفسار :</p>
            <ul class="list-ustyled social">
                <li class="d-inline-block">
                    <a href="https://discord.com/invite/PqsRx38PvN" target="_blank"
                        style="color:#333 !important">
                        <i class="fab fa-discord"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>