<div class="online">
    <div class="container">
        <div class="logo">
            <!-- تحميل اللوغو من الجهاز المحلي  -->
            <img src="images/logo.png" alt="logo" style="width:130px">
        </div>
        <br>
        <h1 class="title">Galaxy RolePlay - Mta</h1>
        <!-- زر "العب الان!" تحت العنوان -->
        <div class="text-center" style="margin-top:20px;">
            <div class="play-now-box">
                <a href="game://connect/yourserver" class="play-now-btn">العب الان!</a>
            </div>
        </div>
    </div>
</div>