<a href="fivem://connect/33ej3o" class="bot-note text-center"
style="position: fixed; z-index: 999999999; bottom: 10px; left: 10px; display: none;" id="connetWaterMark">
<img width="50px" class="shadow" style="background: #b75713; padding: 4px; border-radius: 50%;"
    src="https://i1.wp.com/fivem.shop/wp-content/uploads/2021/11/fivemshop.png?fit=512%2C512&ssl=1">
<p class="small shadow"
    style="background: #b75713; color: white; padding: 2px 6px; border-radius: 20px; margin-top: 6px;">
    <b>الدخول للسيرفر</b>
</p>
</a>

<a href="/cart" class="bot-note text-center"
style="position: fixed; z-index: 999999999; bottom: 10px; left: 10px;" id="connetWaterMark">
<i class="fa fa-shopping-cart" style="font-size: 27px; color: #3cae56;"></i>
<p class="small shadow"
    style="background: #3cae56; color: white; padding: 2px 6px; border-radius: 20px; margin-top: 6px;">
    <b>سلة المشتريات</b>
</p>
</a>
<!---->